참고 : [[코드] 데이콘 기초 베이스라인](https://dacon.io/competitions/official/235670/codeshare/1738?page=1&dtype=recent)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 데이터 살펴보기

In [2]:
import pandas as pd
import warnings 
warnings.filterwarnings(action='ignore')
import numpy as np
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
import re
import os

In [3]:
# 경로 설정
os.chdir('/content/drive/MyDrive/Dacon/소설_작가_분류_AI_경진대회/data/')

In [4]:
# # 압축 풀기
# !unzip -qq "/content/drive/MyDrive/Dacon/소설_작가_분류_AI_경진대회/data/235670_data.zip"

In [5]:
print(os.getcwd())

/content/drive/MyDrive/Dacon/소설_작가_분류_AI_경진대회/data

In [6]:
#파일 불러오기
train = pd.read_csv('train.csv', encoding = 'utf-8')
test = pd.read_csv('test_x.csv', encoding = 'utf-8')
sample_submission = pd.read_csv('sample_submission.csv', encoding = 'utf-8')

In [7]:
#train 데이터 살펴보기
train

       index                                               text  author
0          0  He was almost choking. There was so much, so m...       3
1          1             “Your sister asked for it, I suppose?”       2
2          2   She was engaged one day as she walked, in per...       1
3          3  The captain was in the porch, keeping himself ...       4
4          4  “Have mercy, gentlemen!” odin flung up his han...       3
...      ...                                                ...     ...
54874  54874  “Is that you, Mr. Smith?” odin whispered. “I h...       2
54875  54875  I told my plan to the captain, and between us ...       4
54876  54876   "Your sincere well-wisher, friend, and sister...       1
54877  54877            “Then you wanted me to lend you money?”       3
54878  54878  It certainly had not occurred to me before, bu...       0

[54879 rows x 3 columns]

In [8]:
#test 데이터 살펴보기
test

       index                                               text
0          0  “Not at all. I think she is one of the most ch...
1          1  "No," replied he, with sudden consciousness, "...
2          2  As the lady had stated her intention of scream...
3          3  “And then suddenly in the silence I heard a so...
4          4  His conviction remained unchanged. So far as I...
...      ...                                                ...
19612  19612  At the end of another day or two, odin growing...
19613  19613  All afternoon we sat together, mostly in silen...
19614  19614   odin, having carried his thanks to odin, proc...
19615  19615  Soon after this, upon odin's leaving the room,...
19616  19616  And all the worse for the doomed man, that the...

[19617 rows x 2 columns]

In [9]:
#sample_submission
sample_submission

       index  0  1  2  3  4
0          0  0  0  0  0  0
1          1  0  0  0  0  0
2          2  0  0  0  0  0
3          3  0  0  0  0  0
4          4  0  0  0  0  0
...      ... .. .. .. .. ..
19612  19612  0  0  0  0  0
19613  19613  0  0  0  0  0
19614  19614  0  0  0  0  0
19615  19615  0  0  0  0  0
19616  19616  0  0  0  0  0

[19617 rows x 6 columns]

# 전처리

In [10]:
#부호를 제거해주는 함수
def alpha_num(text):
  return re.sub(r'[^A-Za-z0-9 ]', '', text)

train['text']=train['text'].apply(alpha_num)

In [11]:
#부호가 사라진 것을 확인할 수 있습니다.
train

       index                                               text  author
0          0  He was almost choking There was so much so muc...       3
1          1                 Your sister asked for it I suppose       2
2          2   She was engaged one day as she walked in peru...       1
3          3  The captain was in the porch keeping himself c...       4
4          4  Have mercy gentlemen odin flung up his hands D...       3
...      ...                                                ...     ...
54874  54874  Is that you Mr Smith odin whispered I hardly d...       2
54875  54875  I told my plan to the captain and between us w...       4
54876  54876   Your sincere wellwisher friend and sister LUC...       1
54877  54877               Then you wanted me to lend you money       3
54878  54878  It certainly had not occurred to me before but...       0

[54879 rows x 3 columns]

In [17]:
# 오류 발생 : AttributeError: 'str' object has no attribute 'splite'
# #불용어 제거해주는 함수
# def remove_stopwords(text):
#     final_text = []
#     for i in text.splite():
#       if i.strip().lower() not in stopwords:
#         final_text.append(i.strip())
#     return "".join(final_text)

# # 불용어
# stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
#              "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
#              "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
#              "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
#              "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
#              "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
#              "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
#              "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
#              "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
#              "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
#              "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [19]:
# 불용어 제거해주는 함수
def remove_stopwords(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stopwords:
            final_text.append(i.strip())
    return " ".join(final_text)

# 불용어
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [20]:
#전처리 적용
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()
train['text'] = train['text'].apply(alpha_num).apply(remove_stopwords)
test['text'] = test['text'].apply(alpha_num).apply(remove_stopwords)

In [22]:
# train test 분리
X_train = np.array([x for x in train['text']])
X_test = np.array([x for x in test['text']])
y_train = np.array([x for x in train['author']])

In [23]:
X_train

array(['almost choking much much wanted say strange exclamations came lips pole gazed fixedly bundle notes hand looked odin evident perplexity',
       'sister asked suppose',
       'engaged one day walked perusing janes last letter dwelling passages proved jane not written spirits instead surprised mr odin saw looking odin meeting putting away letter immediately forcing smile said',
       ..., 'sincere wellwisher friend sister lucy odin',
       'wanted lend money', 'certainly not occurred said yes like'],
      dtype='<U1433')

In [24]:
y_train

array([3, 2, 1, ..., 1, 3, 0])

# 모델링


1. tf.keras.preprocessing.sequence.pad_sequences
https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/sequence/pad_sequences
2. tf.keras.preprocessing.text.Tokenizer
https://www.tensorflow.org/api_docs/python/tf/keras/preprocessing/text/Tokenizer
3. 파이썬 경로/디렉토리 위치
https://velog.io/@stu_dy/Python-%ED%98%84%EC%9E%AC-%ED%8C%8C%EC%9D%BC%EB%94%94%EB%A0%89%ED%86%A0%EB%A6%AC-%EC%9C%84%EC%B9%98-%ED%99%95%EC%9D%B8-%EB%B0%8F-%EB%B3%80%EA%B2%BD
4. apply() : https://wikidocs.net/46758
5. strip() : https://codechacha.com/ko/python-string-strip/
6. np.array() : https://datascienceschool.net/01%20python/03.01%20%EB%84%98%ED%8C%8C%EC%9D%B4%20%EB%B0%B0%EC%97%B4.html